.bg-tertiary {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* This will hide the back side when the card is not flipped */
.bg-tertiary div:last-child {
  transform: rotateY(180deg);
}
.flip-card-back {
  transform: rotateY(180deg);
}

.flipped .flip-card-back {
  transform: rotateY(0deg);
}
